* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #fceb04;
    padding: 15px;
    color:black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toggle{
    background-color: #fceb04;
    color: black;
    border: none;
}

.page-heading{
    font-size: 40px;
    text-align: center;
    color: black;
    padding: 20px 0px;
}

.filter-btns{
    padding: 0px 40px;
    display: flex;
    justify-content: center;
}

.filter-btns button{
    padding: 10px;
    margin: 10px 10px;
    background-color: white;
    border: #ffee00 solid 2px;
    border-radius: 5px;
}

.listing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 400px;
}

.single-listing{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    max-width: 400px;
    margin: 2px;

    border: solid #0000003b 2px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #cfae9f7e;
}

.listing-img img{
    width: 200px;
    padding: 0px 10px;
}

.listing-detail{
    display: flex;
    flex-direction: column;
}

.listing-header{

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: #fceb04 solid;
}

.listing-title{
    font-weight: bold;
    font-size: 18px;
}

.listing-price{
    font-weight: bold;
    font-size: 16px;
}

@media all and (min-width: 849px) {
    .listing{
        width: 810px;
    }
}

@media all and (min-width: 770px) {
    .page-heading{
        font-size: 50px;
        padding: 30px 0px;
    }
}