* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #5c2912;
    padding: 15px;
    color:white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toggle{
    background-color: #5c2912;
    color: white;
    border: none;
}

.page-heading{
    font-size: 40px;
    text-align: center;
    color: #5c2912;
    padding: 20px 0px;
}

.faq{
    padding: 0px 40px;
}

.faq-pair{
    margin-bottom: 10px;
    padding: 10px;
    border: solid #0000003b 2px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #5c2912;
}

.question-header{
    display: flex;
    justify-content: space-between;
}

.faq-question{
    font-size: 20px;
}

.expand-faq{
    background-color: white;
    color: #5c2912;
    border: none;
}

.faq-response{
    font-size: 18px;
}

.hide-text{
    display: none;
}

@media all and (min-width: 770px) {
    .page-heading{
        font-size: 50px;
        padding: 30px 0px;
    }

    .faq{
        padding: 0px 200px;
    }
}